{
    "wechatAppId": "微信公众号appId",
    "wechatAppSecret": "微信公众号appSecret",
    "wechatTemplateId": "微信公众号模板",
    "wechatOpenId": [
        "微信openId"
    ],
    "qweatherKey": "和风天气key",
    "qweatherLocationId": "地区id"
}