{
    "wechatAppId": "微信公众号appId",
    "wechatAppSecret": "微信公众号appSecret",
    "wechatOpenId": [
        "微信openId"
    ],
    "qweatherKey": "和风天气key",
    "qweatherLocationId": "地区id",
    "birthday": "生日",
    "isLunar": true
}